.album-selecionado {
    display: flex;
    justify-content:center;
    align-items:center;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgb(0,0,0,0.5);
    z-index: 9999;
}

.cartao {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}