.album-view {
  border: 1px solid #ccc; /*cria uma borda solida de 1px*/
  border-radius: 8px; /*arredonda os cantos*/
  padding: 1.5rem; /*espaço entre a borda e o conteudo*/
  background-color: #f9f9f9; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*adiciona uma sombra*/
}