/* src/components/MusicaItem.css */
.musica-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee; /* Linha separadora fina */
  padding: 0.75rem 0.25rem;
}

.musica-item span {
  font-weight: 600; /* Título da música em negrito */
}

.musica-item small {
  color: #777; /* Estilos com cor mais clara */
}