.musica-item {
  display: flex; /*que nem antes, alinha os itens da lista em uma unica linha*/
  justify-content: space-between; /*coloca o primeiro item, depois o ultimo, 
  e distribui o espaco interno igualmente pros itens restantes*/
  border-bottom: 1px solid #eee; /*linha separadora pra ficar limpinho*/
  padding: 0.75rem 0.25rem;
}

.musica-item span {
  font-weight: 600; 
}

.musica-item small {
  color: #777; 
}