
.musica-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee; 
  padding: 0.75rem 0.25rem;
}

.musica-item span {
  font-weight: 600; 
}

.musica-item small {
  color: #777; 
}