.app-container {
  font-family: sans-serif; 
  max-width: 1200px; /*pra impedir o site de esticar infinitamente em monitores maiores*/
  margin: 0 auto;  /*coloca 0 de margem e pede pra calcular automaticamente, centralizando o container*/
  padding: 2rem; /*cria um espaço entre a borda do container e o conteudo*/
}


.discografia-grid {
  display: grid; /*coloca no layout de grade, que deixa o container organizar os filhos em linhas e colunas*/
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /*cria quantas colunas couberem. 
  cada coluna tem minimo de 350px e ocupa 1fr de espaço disponivel*/
  gap: 2rem; 
}