.app-container {
  font-family: sans-serif; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 2rem; 
}


.discografia-grid {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
  gap: 2rem; 
}