.app-container {
  font-family: sans-serif; 
  display: flex;
  flex-direction: column;
  max-width: 100%; 
  margin: 0 auto;  
  padding: 2rem; 
}

.foto-artista-grid{
  display: grid;
  margin: 0 auto;
  gap: 2rem;
}
.discografia-grid {
  display: flex;
  gap: 2rem; 
}