.foto-artista-container {
  width: 400px;         
  height: 400px;        
  object-fit: cover;    
  display: flex;       
  margin: 0 auto;    
}
.foto-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.button-container {
    background: transparent;
    border: none;
    font-size:0;  
}